<ng-container *ngIf="quizResult">
    <ng-container *ngIf="!currentQuestion">
        <title>Result</title>
        <div>{{getNumberCorrectAnswer()}} of {{quizResult.QuestionsAsked.length}} has been answered correctly</div>
        <div>your time</div>
        <div>Try again</div>
        <div>Home</div>
        <div>List of questions, clickeable to jump to that question</div>
        <a (click)="copyResultToClipboard()">share your result</a>
        <div class="d-flex flex-wrap">
            <button *ngFor="let q of questions; let i = index;" (click)="setCurrentQuestion(i)"
                [ngClass]="isGoodAnswer(q) ? 'bg-success-light' : 'bg-error'"
                class="small-button rounded">{{i}}</button>
        </div>
    </ng-container>

    <ng-container *ngIf="currentQuestion">
        <nav class="navbar d-flex flex-nowrap justify-content-between align-items-stretch border-bottom">
            <div class="flex-grow-1 strong-font px-2 mt-auto mb-auto">{{currentQuestion.Id + ". " +
                currentQuestion.QuestionText}}</div>
            <div title="Report question (coming later)"
                class="p-3 text-danger border-left btn btn-link d-none d-sm-block">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
            <div title="Report question (coming later)"
                class="p-1 text-danger border-left btn btn-link d-block d-sm-none">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <div class="">Report</div>
            </div>
        </nav>
        <div class="container mt-2">
            <div class="responsive-container-mp4 mb-1" [ngClass]="[!hasVideo() ? 'd-none' : '']">
                <video #video width="100%" height="100%" controls muted autoplay="autoplay">
                    <source [src]="currentVideoURL" type="video/mp4" preload="none">
                    Issue displaying video
                </video>
            </div>

            <div class="grid">
                <label *ngFor="let a of currentQuestion.Answers" class="btn btn-light mr-1 border answer-button"
                    [ngClass]="{'bg-success-light':a.isSelected && a.isGoodAnswer, 'bg-error': (a.isSelected && !a.isGoodAnswer) || (!a.isSelected && a.isGoodAnswer) }">
                    {{a.Answertext}}
                </label>
            </div>
            <div>{{currentQuestion.answerExplanation}}</div>
        </div>
    </ng-container>

    <nav class="navbar fixed-bottom d-flex justify-content-between align-items-stretch">
        <div *ngFor="let q of this.quizResult.QuestionsAsked; let i = index"
            class="flex-grow-1 border d-none d-sm-flex div-button" [title]="q.QuestionText"
            [ngClass]="isGoodAnswer(q) ? 'bg-success-light' : 'bg-error'" (click)="setCurrentQuestion(i)">{{i + 1}}
        </div>
        <div class="flex-grow-1 border flex-basis div-button " (click)="moveCurrentQuestion(1)">Next</div>
        <div class="flex-grow-1 border flex-basis div-button result-button" (click)="currentQuestionNb = null">Result
        </div>
    </nav>
</ng-container>