<div class="d-flex flex-row justify-content-between">
    <form #teamForm="ngForm">
        <div class="form-group">
            <label for="name">Team A name</label>
            <input type="text" class="form-control" id="matchService.teamAName" required [(ngModel)]="matchService.teamA.name" name="matchService.teamAName">
        </div>
        <div class="form-group">
            <label for="name">Color</label>
            <input type="color" class="form-control" id="matchService.teamAColor" required [(ngModel)]="matchService.teamA.color"
                name="matchService.teamAColor">
        </div>

        <div>
            <app-new-player-line *ngFor="let p of matchService.teamA.players; let i = index" [(player)]="matchService.teamA.players[i]">
            </app-new-player-line>
        </div>
        <button (click)="addPlayer(true)">Add player</button>
    </form>
    <form #teamForm="ngForm">
        <div class="form-group">
            <label for="name">Team B name</label>
            <input type="text" class="form-control" id="matchService.teamBName" required [(ngModel)]="matchService.teamB.name" name="matchService.teamBName">
        </div>
        <div class="form-group">
            <label for="name">Color</label>
            <input type="color" class="form-control" id="matchService.teamBColor" required [(ngModel)]="matchService.teamB.color"
                name="matchService.teamBColor">
        </div>

        <div>
            <app-new-player-line *ngFor="let p of matchService.teamB.players; let i = index" [player]="matchService.teamB.players[i]" >
            </app-new-player-line>
        </div>
        <button (click)="addPlayer(true)">Add player</button>
    </form>
</div>
<button (click)="moveToMatch()">Begin</button>