<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light border-bottom  pl-1">
    <!-- <div class="d-none d-sm-block"><button (onclick)="sidebarOpen = !sidebarOpen">sidebar</button></div> -->
    <div class="d-none d-sm-block"><button (click)="loadPage('question-list')">Question list</button></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link pl-0" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="loadPage('question-list')">All questions</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" (click)="startQuiz()">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="startStrategy()">Strategy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="startQuestionList()">Question list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="startMatchAnalysis()">Match Analysis</a>
        </li> -->
      </ul>
    </div>
  </nav>
  <!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="over" [(opened)]="sidebarOpen">
      Sidenav content
    </mat-sidenav>
  </mat-sidenav-container> -->


  <div class="text-left">
    <div class="mt-1">
      <button class="btn btn-primary" (click)="startQuiz(null)">
        Start a Quiz
      </button>
    </div>
    <div class="mt-4">Or start a quiz with a selected subject:</div>
    <div class="d-flex flex-row flex-wrap mt-2">
      <!-- <label *ngFor="let topic of topics" class="btn btn-secondary short-label mr-1"
        [ngClass]="{ selected: isSelected(topic) }">
        <input id="subject" type="radio" [value]="topic" [(ngModel)]="selectedOption"/>{{ topic }}
      </label> -->
      <button *ngFor="let topic of topics" class="btn btn-secondary me-1" (click)="startQuiz(topic)">
        {{topic | translate}}
      </button>
    </div>
  </div>
</div>

<div class="fixed-bottom contained">v0.16: Head and assist ref quizes</div>