
<app-loading-page  *ngIf="loadingStatus == LoadingStatus.ONGOING" message="Multiple options are possible."></app-loading-page>
<div *ngIf="loadingStatus == LoadingStatus.SUCCESSFUL">
  <nav class="navbar d-flex flex-nowrap justify-content-between align-items-stretch border-bottom">
    <div class="flex-grow-1 strong-font px-2 mt-auto mb-auto">{{(currentQuestionNb+1) + ". " +
      currentQuestion.questionText}}</div>
    <div class="m-1"><app-report-question-button [questionId]="currentQuestion.id"></app-report-question-button></div>
  </nav>
  <div class="container mt-2">
    <div class="responsive-container-mp4 mb-1">
      <video #video width="100%" height="100%" controls muted autoplay="autoplay"
        [ngClass]="[!hasVideo() ? 'd-none' : '']">
        <source [src]="currentVideoURL" type="video/mp4" preload="none">
        Issue displaying video
      </video>
    </div>

    <div class="answer-grid">
      <label *ngFor="let a of currentQuestion.answers" class="btn btn-light mr-1 border"
        [ngClass]="[a.isSelected ? 'answerSelected' : '', a.text.length > 70 ? 'small-text' : '']">
        <input type="checkbox" id="input" [value]="a.id" [(ngModel)]="a.isSelected"><span class="">{{a.text}}</span>
      </label>
    </div>
  </div>
  <nav class="navbar fixed-bottom d-flex justify-content-between align-items-stretch flex-nowrap">
    <div class="border flex-grow-1 flex-shrink-0 " (click)="moveCurrentQuestion(-1)">Previous</div>
    <div *ngFor="let q of questions; let i = index" class="flex-grow-1 flex-shrink-1 border d-none d-sm-flex "
      [title]="q.questionText" [ngClass]="isQuestionCurrentlySelected(i) ? 'bg-secondary' : ''"
      (click)="setCurrentQuestion(i)">{{i + 1}}</div>
    <div class="d-block d-sm-none border flex-shrink-0 ">
      {{(questions.indexOf(currentQuestion)+1)+'/'+questions.length}}</div>
    <div *ngIf="isCurrentLastQuestion()" class="border flex-grow-1  flex-shrink-0  "
      (click)="moveCurrentQuestion(1)">Next</div>
    <div *ngIf="!isCurrentLastQuestion();" class="border flex-grow-1 flex-shrink-0  result-button bg-warning"
      (click)="goToResult()">Finish</div>
  </nav>
</div>

<div *ngIf="loadingStatus == LoadingStatus.ERROR">
  {{error.message}}
</div>