<div (click)="openDialog()" title="Report question" class="h-100 w-100 text-center">


    <!-- <span class="fa-layers fa-fw ">
        <i class="fa-solid fa-message fa-2x"></i>
        <span class="fa-layers-text fa-inverse mb-1" data-fa-transform="shrink-8 down-3">issue?</span>
    </span> -->

    <span class="fa-layers fa-fw" >
        <i class="fa-solid fa-message fa-2x"></i>
        <span class="fa-layers-text fa-inverse ps-4 pt-1" data-fa-transform="shrink-8 down-3">issue</span>
      </span>
</div>