html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex {
  display: flex;
}

.div-button {
  cursor: pointer;
  background-color: white;
}



.bg-error {
  background-color: rgb(255, 65, 65) !important;
}



.bg-success-light {
  background-color: #00d471 !important;
}

.bg-success-lighter-rad {
  background-image: linear-gradient(rgb(215, 255, 204) 0%, rgb(149, 255, 120) 100%);
}

.bg-success-rad {
  background-image: linear-gradient(rgb(216, 255, 205) 0%, rgb(114, 255, 75) 100%);
}

.bg-failure-rad {
  background-image: linear-gradient(rgb(255, 177, 177) 0%, rgb(255, 59, 59) 100%);
}

.bg-neutral-rad {
  background-image: linear-gradient(#f1f1f1 0%, rgb(184, 184, 184) 100%);
}

.bg-info-rad {
  background-image: linear-gradient(#ffffff, #0d6efd)
}

.small-on-mobile {
  @media only screen and (max-width: 600px) {
    font-size: small;
  }
}

.answer-button {
  @media only screen and (max-width: 720px) {
    font-size: small !important;
  }
}

.answer-button.small-text {
  @media only screen and (max-width: 768px) {
    font-size: small !important;
  }

  @media only screen and (max-width: 720px) {
    font-size: x-small !important;
  }
}

.answer-grid {
  display: grid;
  grid-template-areas: "a a";
  grid-auto-rows: 60px;
  grid-auto-columns: minmax(0, 1fr);
  width: 100%;
  height: 100%;
  row-gap: 2px;
  column-gap: 2px;

  @media only screen and (max-width: 720px) {
    grid-auto-rows: 68px;
  }
}

.answer-grid>label {
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 720px) {
    margin-bottom: 0.2rem;
  }
}