html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.d-flex{
    display: flex;
}

.div-button{
    cursor: pointer;
    background-color: white;
  }

  

  .bg-error{
    background-color: rgb(255, 65, 65) !important;
  }

  

  .bg-success-light{
    background-color: #00d471 !important;
  }